html {
  font-family: "Oxanium", sans-serif;
  background-color: #212121;
  /* background: url(grid.svg) repeat center center fixed; */
  background-size: 2em 2em;
  background-image: radial-gradient( circle, #91ffe36b 0.01em, rgba(0, 0, 0, 0) 1px);
  color: #eeeeee;
}

html, button, input, select, textarea, .pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: "Oxanium", sans-serif;
}

#content {
  padding: 5%;
  margin: 0;
}

#splash {
  background-color: black;
  padding: 10%;
  align-items: center;
  border-radius: 0em 0em 2.5em 2.5em;
  height: 50vh;
  vertical-align: middle;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 1em inset;
  text-shadow: rgba(0, 0, 0, 1) 0 0 1em;
  background: url(background.jpg) no-repeat 58% 60%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#splash-small {
  background-color: black;
  padding: 5%;
  align-items: center;
  border-radius: 0em 0em 2.5em 2.5em;
  height: 10vh;
  vertical-align: bottom;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 1em inset;
  text-shadow: rgba(0, 0, 0, 1) 0 0 1em;
  background: url(background.jpg) no-repeat 58% 60%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#splash-small h1 {
  font-size: 3vw;
  font-weight: 500;
  padding: 0;
  margin: 1vh;
}

#splash h1 {
  font-size: 8vw;
  font-weight: 500;
  padding: 0;
  margin: 1vh;
}

#splash h2 {
  font-size: 3vh;
  font-weight: 200;
  padding: 0;
  margin: 1vh;
}

#menu {
  background-color: #21212196;
  padding: 0.1vh 3vw;
  align-items: center;
  border-radius: 0em 0em 2em 2em;
  vertical-align: middle;
  margin: 0 3.3vw;
  position: fixed;
  box-shadow: rgba(58, 255, 189, 0.5) 0 0 1em;
}

#splash .pure-menu-link {
  color: #ffffff;
}

#splash .pure-menu {
  margin: 1vh;
  margin-left: -1rem;
  border-radius: 2em 2em 2em 2em;
}

.pure-menu-link {
  border-radius: 2em 2em 2em 2em;
  transition: all 0.2s;
  margin: 1vh 1vw;
  backdrop-filter: blur(0.2em);
  color: #dddddd;
  border-width: 2px;
  border-color: rgba(58, 255, 189, 0.26);
  border-style: solid;
}

#splash .pure-menu-link {
  background-color: #2121217c;
  text-shadow: rgba(58, 255, 189, 0.5) 0 0 1em;
}

#splash .pure-menu-link:hover {
  border-radius: 2em 2em 2em 2em;
  background-color: #212121;
  box-shadow: rgba(58, 255, 189, 0.5) 0 0 1em;
  transition: all 0.2s;
}

.pure-menu-link:hover {
  color: black;
  transform: scale(1.2, 1.2);
}

#splash .pure-menu-link:active {
  border-radius: 2em 2em 2em 2em;
  background-color: rgba(58, 255, 189, 1);
  box-shadow: white 0 0 1em;
  color: black;
  transition: all 0.1s;
  transform: scale(1.5, 1.5);
}

.project-card {
  background-color: rgba(0, 0, 0, 0.144);
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  margin: 2vh 0vw 1.5vh 0vw;
  padding: 1.5vh 1vw 1.5vh 1vw;
  background: rgb(22, 34, 19);
  background: linear-gradient( 180deg, rgba(58, 255, 189, 0.247) 0%, rgba(255, 255, 255, 0) 12em);
}

.project-card h1 {
  padding: 0;
  margin: 0.1vh;
}

.video-caption {
  background-color: rgba(7, 7, 7, 0.185);
  margin-top: 0;
  border-radius: 0 0 0.3em 0.3em;
  align-content: left;
  padding: 0.1em 1em;
}